<footer>
    <div class="footer-content">
        <p style="font-size: 1.1rem; margin-bottom: 1.5rem;">Islamic Education & Character Building Center</p>

        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100083289094867" title="Facebook"><i
                    class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/madarsaislamiasihipur/" title="Instagram"><i
                    class="fa-brands fa-instagram"></i></a>
            <a href="https://www.youtube.com/@rizwandauddaud1018" title="YouTube"><i
                    class="fa-brands fa-youtube"></i></a>
        </div>

        <hr>

        <div class="footer-nav">
            <a routerLink="/" fragment="home">Home</a>
            <a routerLink="/courses">Courses</a>
            <a routerLink="/timetable">Timetable</a>
            <a routerLink="/admission">Admission</a>
            <a routerLink="/donate">Donate</a>
            <a routerLink="/about">About</a>
            <a routerLink="/contact">Contact</a>
        </div>

        <p class="copyright">&copy; 2025 Madrasa Islamia. All Rights Reserved.</p>
        <p class="designer">Designed with ❤️ for the community</p>
    </div>
</footer>